{% comment %}
	Create a custom 4 column Grid Section with Accordion toggle with icon on the right side of the section
	  1. Used The Details disclosure element (https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details)
	  2. Used blocks in the sections and limited blocks count to 4
	  3. Information/Text used in this section are rendered from a shopify schema file, 
	    so we no longer edit on each files separatly and no need code push often. 
{% endcomment %}

{{ 'component-four-column-grid-min.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion-min.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  if section.settings.columns_mobile == '1'
    assign section_class = 'mobile-one-column'
  else
    assign section_class = 'mobile-two-column'
  endif
-%}

<div class="four-col-grid-section section-{{ section.id }}-padding page-width {{ section.settings.columns_mobile }}">
  <details id="Details-{{ section.id }}" {% if section.settings.open_accordion_content %}open{% endif %}>
    <summary class="{% if section.settings.enable_accordion %}accordion-layout{% endif %}" aria-label="{{ section.settings.title | escape }}">
      {%- if section.settings.title != blank -%}
        <h3 class="accordion-layout__title {{ section.settings.title_alignment }}">
          {{ section.settings.title | escape }}
        </h3>
      {%- endif -%}
      {%- if section.settings.enable_accordion -%}
        {% render 'accordion-icon' %}
      {%- endif -%}
    </summary>
    <div class="{{ section_class }}">
      <div class="four-col-grid-section__content-grid grid grid--{{ section.settings.columns_mobile }}-col grid--2-col-tablet grid--4-col-desktop">
        {% for block in section.blocks %}
          <div class="grid__item four-col-grid-section__content-item">
            <div class="four-col-grid-section__media">
              {% if block.settings.image != blank %}
                <img class="four-col-grid-section__media-img" srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: block.settings.image_width }} 2x" src="{{ block.settings.image | image_url: width: block.settings.image.width }}" alt="{{ block.settings.image.alt }}" title="{{ block.settings.heading | escape }}" loading="lazy" width="398" height="{{ block.settings.image.height }}" style="max-width: min(100%, {{ block.settings.image.width }}px);">
              {% endif %}
            </div>
            <div class="four-col-grid-section__content-info">
              <div class="grid__information">
                <div class="four-col-grid-section__content-item-heading">
                  <div class="four-col-grid-section__content-title">
                    {{ block.settings.heading | escape }}
                  </div>
                </div>
              </div>
              {% if block.settings.sub_heading != blank %}
                <div class="four-col-grid-section__content-caption">
                  <span>{{ block.settings.sub_heading }}</span>
                </div>
              {% endif %}

              {% if block.settings.button_link != blank and block.settings.button_label != blank %}
                <div class="{{ section.settings.title_alignment }} four-col-grid-section__view-all">
                  <a href="{{ block.settings.button_link }}" class="link four-col-grid-section__view-all-link" 
                    aria-label="{{ block.settings.button_label }} {{ block.settings.heading | escape }}">
                    {{- block.settings.button_label -}}
                  </a>
                </div>
              {%- endif -%}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </details>
</div>

{% schema %}
{
  "name": "4 Column Grid Section",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.common-content.title.label"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "label": "t:sections.common-content.title_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:sections.common-content.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "1",
      "label": "t:sections.common-content.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.common-content.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.common-content.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.common-content.enable_accordion.content"
    },
    {
      "type": "checkbox",
      "id": "enable_accordion",
      "label": "t:sections.common-content.enable_accordion.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "open_accordion_content",
      "label": "t:sections.common-content.open_accordion_content.label",
      "default": true,
      "info": "t:sections.common-content.open_accordion_content.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 10
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "custom-grid",
      "name": "4 Column Grid",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.common-content.image_picker.label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.common-content.title.label"
        },
        {
          "type": "text",
          "id": "sub_heading",
          "label": "t:sections.common-content.sub_heading.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.common-content.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.common-content.button_link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "4 Column Grid Section",
      "blocks": [
        {
          "type": "custom-grid"
        },
        {
          "type": "custom-grid"
        },
        {
          "type": "custom-grid"
        }
      ]
    }
  ]
}
{% endschema %}
